$mob-width:600px;
$primary-color:#467fcd;
$box-shadow:9px 8px 33px -4px #467fcd;

$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 800px) and (min-width : 600px)";
$media-mobile: "only screen and (max-width : 600px)";